/***** STYLE FOR INDEX.HTML*****/

/* TABLES */
table th,td{
        /*border*/
        border-color: black;
        border-style: solid;
        border-width: 1px;
        /*font*/
        font-family: Arial, sans-serif;
        font-size: 14px;
        /*cell*/
        padding: 10px 5px;
        word-break: normal;
        text-align: center;
}

/* STAND */
#stand th,td{
    font-size: 1.5em;
}
li{
    font-size: 0.8em;
    text-align: left;
}

/*water*/
.water,.stockWater{
    visibility: visible;
}
.addNewDrink{
    visibility: visible;
}

/* KITCHEN */
#kitchen th,td{
    font-size: 1.3em;
}

/* BANK */
#bank {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#bank p{

    /*font*/
    font-family: Arial, sans-serif;
    font-size: 28px;
}

/* BUTTON */
button{
    background-color: goldenrod;
    color: whitesmoke;
}

/* EVENTS */
#stock{
    background-color: white;
}
#balance{
    padding : 10px;
    visibility: visible;
    background-color: white;
}


/* FLEXBOX */
header,footer{
    text-align: center;
}
@media only screen and (min-width: 500px) { 
    #bloc{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
@media only screen and (min-width: 1160px) { 
    #bloc{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
#blocRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}